---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout wide={true}>
  <section class="my-16">
    <h2 id="contact" class="text-2xl font-semibold mb-10">Publicaciones</h2>
    {
      posts.map((post) => (
        <article class="flex flex-col md:flex-row gap-5">
          <a href={`/blog/${post.slug}/`} class="w-full">
            <img
              class="rounded mx-auto"
              width={400}
              height={120}
              src={post.data.heroImage}
              alt={post.data.title}
              transition:name="head"
            />
          </a>
          <div>
            <a href={`/blog/${post.slug}/`}>
              <h3 class="text-2xl font-semibold">{post.data.title}</h3>
              <p class="italic">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p class="mt-4">{post.data.description}</p>
            </a>
          </div>
        </article>
      ))
    }
  </section>
</BaseLayout>
