---
import ExternalLink from "../icons/ExternalLink.astro";
interface Props {
  "lg:size"?: 4 | 5 | 6 | 7 | 8;
  title: string;
  href: string;
  newTab?: boolean;
  img: string;
}

const { "lg:size": size, title, img, href, newTab = false } = Astro.props;

const DEFAULT_SIZE = "md:col-span-6 col-span-12";

const COLUMN_SIZES = {
  4: `lg:col-span-4 ${DEFAULT_SIZE}`,
  5: `lg:col-span-5 ${DEFAULT_SIZE}`,
  6: `lg:col-span-6 ${DEFAULT_SIZE}`,
  7: `lg:col-span-7 ${DEFAULT_SIZE}`,
  8: `lg:col-span-8 ${DEFAULT_SIZE}`,
};
---

<article
  class=`${size ? COLUMN_SIZES[size] : "col-span-12"} overflow-hidden relative h-[250px] rounded-lg bg-center`
  style=`background-image: url(${img});`
>
  <div
    class="absolute w-full h-full bg-gradient-to-b from-transparent from-50% to-gray-950 -z-10"
  >
  </div>
  <div class="absolute w-full p-4 bottom-0 text-white">
    <h3 class="font-semibold uppercase">
      <a
        href={href}
        target={newTab ? "_blank" : "_self"}
        class="flex gap-2 items-center"
      >
        {title}
        {newTab && <ExternalLink />}
      </a>
    </h3>
    <div class="flex mt-2 gap-2">
      <slot />
    </div>
  </div>
</article>
