---
import ExternalLink from "@/components/icons/ExternalLink.astro";
interface Props {
  "lg:size"?: 4 | 5 | 6 | 7 | 8;
  title: string;
  href: string;
  img: string;
}

const { "lg:size": size, title, img, href } = Astro.props;

const DEFAULT_SIZE = "md:col-span-6 col-span-12";

const COLUMN_SIZES = {
  4: `lg:col-span-4 ${DEFAULT_SIZE}`,
  5: `lg:col-span-5 ${DEFAULT_SIZE}`,
  6: `lg:col-span-6 ${DEFAULT_SIZE}`,
  7: `lg:col-span-7 ${DEFAULT_SIZE}`,
  8: `lg:col-span-8 ${DEFAULT_SIZE}`,
};
---

<article class=`${size ? COLUMN_SIZES[size] : "col-span-12"} relative`>
  <img src={img} class="w-full h-[250px] absolute blur-sm" />
  <div
    class="h-[250px] bg-center rounded-lg relative w-full text-white"
    style=`background-image: url(${img});`
  >
    <h3 class="font-semibold uppercase absolute left-4 bottom-4">
      <a href={href} target="_blank" class="flex gap-2 items-center">
        {title}
        <ExternalLink />
      </a>
    </h3>
  </div>
  <div class="flex justify-center gap-2 pt-4">
    <slot />
  </div>
</article>
